.BreadBottom {
    height: 13%;
    width: 80%;
    background: linear-gradient(#F08E4A, #E27B36);
    border-radius: 0 0 30px 30px;
    border-shadow: inset -15px 0 #C15711;
    margin: 2% auto;
}

.BreadTop {

}

.Seeds1 {

}

.Seeds1:after {

}

.Seeds1:before {

}

.Seeds2 {

}

.Seeds2:before {

}

.Meat {

}

.Cheese {

}

.Salad {

}

.Bacon {

}
